* {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    justify-content: flex-end;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Применяем анимацию к классу .page */
.page {
    animation: fadeIn 1.2s ease-in forwards;
}

body {
    font-family: "Roboto", sans-serif;
}

.left_page {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
}

label {
    display: block;
    margin-top: 50px;
}

input {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

input::placeholder {
    color: gray;
}

.control {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 1.5;
}

.control input {
    height: 20px;
}

button {
    width: 100%;
    background-color: green;
    padding: 10px 0;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: 100px;
    font-size: 20px;
    cursor: pointer;
}

.display a {
    margin: 0 20px;
    border: 2px solid gray;
    border-radius: 9px;
    padding: 10px;
    text-decoration: none;
    color: black;

}

.display img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 3px;
}

a {
    cursor: pointer;
}

.error1 {
    display: none;
    font-size: 11px;
    margin-left: 5px;
    margin-top: 3px;
    color: crimson;
}

.error2 {
    display: none;
    font-size: 11px;
    margin-left: 5px;
    margin-top: 3px;
    color: crimson;
}

.error3 {
    display: none;
    font-size: 11px;
    margin-left: 5px;
    margin-top: 3px;
    color: crimson;
}

.error4 {
    display: none;
    font-size: 11px;
    margin-left: 5px;
    margin-top: 3px;
    color: crimson;
}

.right_page img{
    height: 100%;
  width: 100%;
  object-fit: cover;
}
@media(max-width: 600px) {
    .right_page {
        display: none;
    }

    .page {
        display: flex;
        justify-content: center;
    }

    .left_page {
        margin-top: 50px;
        margin-right: 0;
    }
}